* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: #0f1419; /* col_gray1 */
    color: #bfbdb6; /* col_gray3 */
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #bfbdb6; /* col_gray3 */
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #59c2ff; /* col_cyan */
    color: #0f1419; /* col_gray1 */
}

#workspaces button.urgent {
    background-color: #ff3333;
}

#mode {
    background-color: #59c2ff;
    color: #0f1419;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor {
    padding: 0 10px;
    color: #bfbdb6;
}

#window {
    font-weight: bold;
}
